.nav-wrap {
  width: 100%;
  height: 50px;
  border: solid;
}
.nav-title {
  width: 50%;
  margin: auto;
  text-align: center;
}

.body-wrap {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 100px 1fr;
  height: 200px;
  grid-column-gap: 10px;
}

.user-wrap,
.user-about-wrap {
  border: solid;
}
