* {
  margin: 0px;
}

body {
  background-image: url(../resource/adrien-olichon-RCAhiGJsUUE-unsplash.jpg);
  background-size: 100%;
}

a {
  text-decoration: none;
}

h1,
p{
  color: white;
}

.card-text {
  color: black;
}

svg {
  padding: 2px;
}

button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.title {
  text-align: center;
}

.body-wrap {
  margin-top: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 300px 1fr;
  height: auto;
  grid-column-gap: 10px;
}

.user-wrap,
.user-about-wrap {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
}

.user-about-wrap {
  padding: 15px;
}

.user-img {
  background-image: url(/resource/368518148_1707549216419087_8421301664649894595_n.jpg);
  background-size: 100%;
  width: 100%;
  height: 300px;
  border: none;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.socmed-head {
  width: 50%;
  margin: auto;
  text-align: center;
  vertical-align: bottom;
  color: white;
  padding: 10px;
  padding-bottom: 0px;
  line-height: 20px;
}

.socmed-body {
  padding: 10px;
  padding-bottom: 30px;
  height: auto;
  width: 50%;
  margin: auto;
  text-align: center;
}

.projects-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: none;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card {
  margin: auto;
  height: 250px;
}

.footer {
  width: 100%;
  height: 9%;
  margin-top: 97px;
  background: rgba(57, 57, 57, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 0px solid rgba(255, 255, 255, 0.18);
}

.soc-med-wrap {
  width: 100%;
  height: auto;
}

.soc-med {
  width: 50%;
  margin: auto;
  height: inherit;
  padding: 7px;
}
